[Unit]
Description=Cowrie SSH and Telnet Honeypot
After=network.target
Requires=cowrie.socket

[Service]
Type=simple
User=cowrie
Group=cowrie
Environment=PYTHONPATH=/opt/cowrie/cowrie:/usr/lib/python2.7:/usr/lib/python2.7/plat-x86_64-linux-gnu:/usr/lib/python2.7/lib-tk:/usr/lib/python2.7/lib-old:/usr/lib/python2.7/lib-dynload:/usr/local/lib/python2.7/dist-packages:/usr/lib/python2.7/dist-packages:/opt/cowrie
Environment=PYTHONUNBUFFERED=true
ExecStart=/usr/local/bin/twistd -n -l /opt/cowrie/log/cowrie.log --umask 0077 --pidfile= cowrie
WorkingDirectory=/opt/cowrie/
NonBlocking=yes
Restart=always
TimeoutSec=300

[Install]
WantedBy=multi-user.target
